<%- include("header") %>

<div id="heading" class="box">
    <h1> <%= ListType %> </h1>
</div>

    <div class="box">
        <% for( var i=0; i<newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i]%></p>
            </div>
        <% } %>

        <form class="item" method="POST" action="/">
            <input type="text" name="todo" placeholder="Add ToDo" autocomplete="off">
            <button type="submit" name="list" value = "<%= ListType %>">+</button>
        </form>
    </div>

<%- include("footer") %>